{% set backup = item.value -%}

TemplateModel.new(:{{ item.key }}, "{{ microservice_name }} {{ microservice_env }}") do
  store_with SFTP do |server|
    server.keep       = "{{ backup.keep }}"
  end

{% if backup.archives is defined %}
  archive :archive do |archive|
{% for archive in backup.archives.add %}
    archive.add '{{ archive }}'
{% endfor %}
{% if backup.archives.exclude is defined %}
{% for archive in backup.archives.exclude %}
    archive.exclude '{{ archive }}'
{% endfor %}
{% endif %}
  end
{% endif %}

{% if backup.postgresql is defined %}
{% for database in backup.postgresql %}
  database PostgreSQL, :{{ database }} do |db|
    db.name               = "{{ database }}"
  end

{% endfor %}
  # backup users/roles/etc
  database PostgreSQL, :all do |db|
    db.name               = :all
    db.additional_options = ["--globals-only"]
  end
{% endif %}

{% if backup.mongodb is defined %}
{% for database in backup.mongodb %}
{% if database == ":all" %}
  database MongoDB, {{ database }} do |db|
  end
{% else %}
  database MongoDB, :{{ database }} do |db|
    db.name               = "{{ database }}"
  end
{% endif %}
{% endfor %}
{% endif %}

end
